body {
  color: #fff;
}

.main {
  text-align: center;
}

.flexContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.brd {
  border-right: 1px solid white;
  padding: 1em;
}

form {
  margin: 1em;
}

input {
  padding: 1em;
  text-align: center;
  font-size: 1em;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
}

h4 {
  font-size: 0.7em;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {
  h4 {
    font-size: 1em;
  }
  h3 {
    font-size: 1.5em;
  }
}
